<h1>
 Bem vindo ao show do contato <%= @contato.nome %>
 </h1>
 <br>ID: <%=@contato.id %></br>
 <br>Nome: <%= @contato.nome %></br>
 <br>E-mail: <%= @contato.email %></br>

 <br>
 </br>
 
 <%= link_to "Voltar", contatos_path %>