<h1>
 Bem vindo ao show de <%= @usuario.nome %>
 </h1>
 <br>ID: <%=@usuario.id %></br>
 <br>Nome: <%= @usuario.nome %></br>
 <br>E-mail: <%= @usuario.email %></br>

 <br>
 </br>
 
 <%= link_to "Voltar", usuarios_path %>